/* Variables */
element {
  --white-color: white;
}

html, body, #root, .App {
    height: 100%;
  }

.fixed-field {
  width: 300px;
  height: 45px;
}
.crew-list {
  height: 800px;
}
.fixed-link {
  color: #FFF;
}
.fixed-link:hover {
   color: #FFF
}
.crew-icon-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.asset-details-chart {
  height: 300px;
}
.fixed-name-container {
  width: 120px;
}
.landing-image {
  width: 50%;
  height: 70%;
}
.landing-box {
  width: 250px;
  margin-bottom: 20px;
}