html, body, #root, .App {
    height: 100%;
  }

.fixed_field {
  width: 300px;
}

.crew-list {
  height: 800px;
}

.fixed-link {
  color: #FFF;
}
.fixed-link:hover {
   color: #FFF
}
.crew-icon-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.mini-chart {
  height: 150px;
  width: 200px;
}